*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #A164DF
}

#buttons {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	gap: 20px
}

button {
	background-color: #663399;
	color: #fff;
	border: none;
	padding: 15px 25px;
	cursor: pointer;
}
